@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oh7q82');
  src:  url('fonts/icomoon.eot?oh7q82#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oh7q82') format('truetype'),
    url('fonts/icomoon.woff?oh7q82') format('woff'),
    url('fonts/icomoon.svg?oh7q82#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning-shield:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-user-remain:before {
  content: "\e902";
}
.icon-user-record:before {
  content: "\e903";
}
.icon-user-new:before {
  content: "\e904";
}
.icon-user-double:before {
  content: "\e905";
}
.icon-user-book:before {
  content: "\e906";
}
.icon-user-active:before {
  content: "\e907";
}
.icon-upload:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e909";
}
.icon-track:before {
  content: "\e90a";
}
.icon-times:before {
  content: "\e90b";
}
.icon-times-shield:before {
  content: "\e90c";
}
.icon-times-circle-o:before {
  content: "\e90d";
}
.icon-third-pay:before {
  content: "\e90e";
}
.icon-third-login:before {
  content: "\e90f";
}
.icon-termial:before {
  content: "\e910";
}
.icon-square-o:before {
  content: "\e911";
}
.icon-sogou-plus:before {
  content: "\e912";
}
.icon-question-circle:before {
  content: "\e913";
}
.icon-pencil-shield:before {
  content: "\e914";
}
.icon-pencil-rect-o:before {
  content: "\e915";
}
.icon-pencil-double-book:before {
  content: "\e916";
}
.icon-passport:before {
  content: "\e917";
}
.icon-nav-right:before {
  content: "\e918";
}
.icon-nav-left:before {
  content: "\e919";
}
.icon-magnifier:before {
  content: "\e91a";
}
.icon-magnifier-doc:before {
  content: "\e91b";
}
.icon-list:before {
  content: "\e91c";
}
.icon-link:before {
  content: "\e91d";
}
.icon-ios:before {
  content: "\e91e";
}
.icon-gear:before {
  content: "\e91f";
}
.icon-exit:before {
  content: "\e920";
}
.icon-ellipsis-shield:before {
  content: "\e921";
}
.icon-download:before {
  content: "\e922";
}
.icon-documents:before {
  content: "\e923";
}
.icon-contact:before {
  content: "\e924";
}
.icon-column:before {
  content: "\e925";
}
.icon-check:before {
  content: "\e926";
}
.icon-check-square-o:before {
  content: "\e927";
}
.icon-check-shield:before {
  content: "\e928";
}
.icon-channel-version:before {
  content: "\e929";
}
.icon-caret-up:before {
  content: "\e92a";
}
.icon-caret-down:before {
  content: "\e92b";
}
.icon-back:before {
  content: "\e92c";
}
.icon-auth:before {
  content: "\e92d";
}
.icon-arrow-up:before {
  content: "\e92e";
}
.icon-arrow-down:before {
  content: "\e92f";
}
.icon-application:before {
  content: "\e930";
}
.icon-angle-up:before {
  content: "\e931";
}
.icon-angle-right:before {
  content: "\e932";
}
.icon-angle-left:before {
  content: "\e933";
}
.icon-angle-down:before {
  content: "\e934";
}
.icon-android:before {
  content: "\e935";
}

