@mixin col_width($num){
  width: $one_col * $num;
}

@mixin grid-system($class-prefix) {
  .row{
    margin-left:  -$grid-space;
    margin-right:  -$grid-space;
    @extend .clearfix;
  }
  .col{
    float: left;
    padding: 0 $grid-space;
  }
  @for $n from 1 through $grid-cols {
    .#{$class-prefix}-#{$n}{
      @include col_width($n);
    }
  }
}