@import "~compass/compass/css3";
@import "~compass/compass/utilities";
@import "~styles/theme";
@import "~styles/mixins/rem";

.modal.alert {
  .dialog-actions {
    .btn {
      width: 100%;
      border-bottom-left-radius: rem(10px);
      border-bottom-right-radius: rem(10px);
    }
  }
}